%article.card
  %img.card-thumbnail{ src: "https://via.placeholder.com/300x200", alt: "Placeholder image" }
  .card-content
    %h3.card-title Card title
    %p.card-description Card description
    %a.secondary{ href: "#" } Read more
