.container
  %section
    .section-inner
      %h2.section-title Recent posts
      %p.section-subtitle Hello World
      .flex.flex-col.gap-5
        = render "partials/blog-card"
        = render "partials/blog-card"
        = render "partials/blog-card"