<div class="container mt-5">
  <% if notice.present? %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Posts" %>

  <h1>Posts</h1>
  <hr>
  <div id="posts" class="row row-cols-3">
    <% @posts.each do |post| %>
      <div class="col">
        <%= render post %>
      </div>
    <% end %>
  </div>
</div>
