.container {
  display: flex;
  flex-direction: column;
}

section {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-inner {
    max-width: 1420px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  .fluid .section-inner {
    max-width: revert;
  }

  .section-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .section-subtitle {
    text-align: center;
    margin-bottom: 2rem;
  }
}