:root {
  // Colors
  --eerie-black-100: #bdbdbc;
  --eerie-black-200: #989895;
  --eerie-black-300: #72726e;
  --eerie-black-400: #242423;

  --bittersweet-100: #fff4f2;
  --bittersweet-200: #ff6f59;
  --bitterswet-300: #ff2d0d;
  --bittersweet-400: #bf1900;
  --baby-powder: #fffdf7ff;
  --emerald: #16c172ff;
  --space-cadet-100: #2f2963ff;
  --space-cadet-200: #4b4299;
  --space-cadet-300: #968cff;

  // Shadows
  --card-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.1);

  // Fonts
  --ff-main: 'Open Sans';
  --ff-secondary: 'Aleo';
}
