<h1 class="mb-20 text-center">Hello <%= @user.email %></h1>

<h2 class="mb-10">My Blogs</h2>
<div class="grid grid-cols-5 gap-4">
  <%= render "blog-card" %>
  <%= render "blog-card" %>
  <%= render "blog-card" %>
</div>