%header#main-header
  .logo Logo
  %nav
    %a.secondary{href: root_url} Home
    %a.secondary{href: root_url} My Profile
    %a.secondary{href: root_url} contact
    %a.secondary{href: root_url} My Profile
    %a{href: root_url} Sign in
    %a{href: root_url} Sign up
    %a{href: root_url} My account
    %a{href: root_url} Log out
