<header class="flex justify-between p-3 border-b border-b-neutral-300 shadow items-center">
  <img class="object-cover w-[25px] aspect-square" src="https://picsum.photos/25" alt="Logo">
  <nav class="flex gap-3 items-center">
    <ul>
      <li>
        <a
          class="block p-1 text-white bg-indigo-500 hover:bg-indigo-600 transition-colors rounded"
          href="<%= root_url %>"
        >Home</a>
      </li>
    </ul>
  </nav>
</header>